.jumbotron {
  margin-bottom: 0 rem;
}

.bg-green {
  background-color: rgb(243, 201, 124)
}

.btn-org {
  background-color: rgb(201, 138, 21);
  color: white;
}

.btn-rm {
  background-color: rgb(239, 210, 157);
  color: black;
}

/* .text-title {
  font-size: 20px;
  color: rgb(10, 9, 9);
} */

/* .text-des {
  color: rgb(57, 56, 56);
  font-style: italic;
} */

.card-footer {
  background-color: rgb(229, 225, 225);
  border-top: none;
}

.card {
  border: 1px solid rgb(184, 181, 181);
  height: 100%;
  /*. .card sẽ cao bằng 100% chiều cao của phần tử cha (tức là col-6). */
  display: flex;
  /* sắp xếp các phần tử con (img, card-body, card-footer) theo chiều dọc. */
  flex-direction: column;
}

.card-body {
  flex-grow: 1;
  /* Giúp chiếm phần diện tích còn lại trong .card, đẩy phần .card-footer xuống dưới. */
}

.card-img-top {
  height: 180px;
  /* đảm bảo mọi ảnh đều cao đúng 180px */
  object-fit: contain;
  /* giữ nguyên tỉ lệ ảnh và co dãn vừa trong khung 180px */
}

.card:hover {
  border: 2px solid rgb(125, 123, 123);
  cursor: pointer;

}

.border-bottom {
  border-bottom: 3px double gray;
}

.list-group-item {
  font-size: 18px;
  color: rgb(10, 9, 9);
  background-color: #eeeded;
  transition: all 0.3s ease;
  /* Smooth transition */
  border: 2px rgb(125, 123, 123);
}

/* Hover effect */
.list-group-item:hover {
  background-color: #aeacac;
  color: white;
  cursor: pointer;
}

/* .activeCategory {
  background-color: #c4c2c2; 
  color: rgb(0, 0, 0);              
  font-weight: bold;         
} */
.list-group-item-action:focus,
.list-group-item-action:active {
  background-color: rgb(172, 170, 170);
  color: rgb(0, 0, 0);
  outline: none;
}

.contact input[type="text"] {
  border: none;
  border-bottom: 1px solid orange;
}

::placeholder {
  color: rgb(175, 173, 173);
  font-style: italic;

}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23FFA500' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23FFA500' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
}

.your-info-box {
  border-radius: 10px;
  padding: 10px;
  background-color: #f2f3f4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Intel+One+Mono:ital,wght@1,700&family=Roboto+Mono:ital,wght@1,700&display=swap');

/* Title của best sellers */
.titillium-web-bold {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Tên web */
.titillium-web-black {
  font-family: "Titillium Web", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

/* Menu bar */
.titillium-web-regular {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Tên sản phẩm */
.titillium-web-light {
  font-family: "Titillium Web", sans-serif;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
}

/* Giá */
.titillium-web-semibold-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: italic;
}

/* Category trên card */
.titillium-web-extralight {
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-style: normal;
}
Í/* heading 1 phần welcome */

.intel-one-mono {
  font-family: "Intel One Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
}
.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
}


.error {
  color: red;
}

#displayStore {
  background: linear-gradient(135deg, #f7d566, #fbbc6a);
  text-align: center;
  /* padding: 50px 20px; */
  border-radius: 0 0 30px 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

#footer {
  background: linear-gradient(135deg, #f7d566, #fbbc6a);
  text-align: center;
  border-radius: 30px 30px 0 0;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}